.navbarContainer {
  color: #bac4b8;
}
.navbarItems {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}
.navbarItems :nth-child(1) a {
  text-decoration: none;
  cursor: pointer;
  border-right: solid 1px #bac4b8;
  color: #bac4b8;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
.navAbout {
  cursor: pointer;
}
.navbarItems :nth-child(2) a {
  text-decoration: none;
  color: #bac4b8;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
}
.navbarItems :nth-child(2) a div {
  border: 1px solid #bac4b8;
  pointer-events: none;
}
