.projectContainer {
  display: grid;
  align-content: end;
}

.hs {
  display: grid;
  gap: 20px;
  grid-template-columns: 900px;
  grid-template-rows: minmax(300px, 2fr);
  grid-auto-flow: column;
  grid-auto-columns: minmax(50px, 1fr);
  overflow-x: scroll;
  scroll-snap-type: x infinite;
}

.hs:before,
.hs:after {
  content: "";
  width: 1000px;
}

ul {
  list-style: none;
  padding: 0;
}

.hs > li,
.item {
  scroll-snap-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 8px;
}

.no-scrollbar {
  scrollbar-width: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
